@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 0;
}

html{
    background-image: url(./lightbg2.jpg);

}

h1,h3,h5{
    text-decoration: underline;
}

body>header>h1{
    color: #bcbcbc;
    font-size: 4rem;
}

nav{
    background-image: linear-gradient(to bottom, rgba(23,18,18,1), rgba(204,202,204,1));
    font-size: 1.5rem;
    padding-bottom: 50px;
}

footer{
    background-color: #171212;
    color: #F1F1F1;
}

nav,footer{
    text-align: center;
    padding-top: 50px;
}

#image{
    width: 350px;
    height: 350px;
}

ul, ol{
    text-align: left;
}

.icons{
    width: 32px;
    height: 32px;
}

body>header{
    background-color: rgba(23, 18, 18, 1)
}

header, footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

header>img{
    height: 256px;
    width: 256px;
}

header>div>a>img.logo, footer>div>a>img{
    height: 64px;
    width: 64px;
    filter: invert(1);
}

a{
    transition: color 5ms;
}

a:hover{
color: red;
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: #cccacc;
    align-items: baseline;
    font-family: 'Roboto', sans-serif;
}

main>header,main>section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 100vw;
    padding-bottom: 50px;
}
main>article,main>aside{
    flex-basis: 50%;
    padding-bottom: 50px;
}

main>aside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
}

main>article>div{
    padding-left: 5%;
}

main>aside>div>h3, main>section>div>h3{
    text-align: center;
}

section{
    background-color: #cccacc;
    padding-top: 5px;
    padding-bottom: 50px;
}

.card{
    width: 18rem;
}

#lightmodebtn{
    display: none;
}

#btncont{
    all: unset;
}

@media screen and (max-width: 1200px){
    main>article,main>aside{
        flex-basis: 100%;
    }
}

@media screen and (max-width: 767px){
    main>aside>div#video{
        display:none
    }
}

@media screen and (min-width: 768px){
    main>aside>div#imagen{
        display:none
    }
}

@media screen and (min-width: 992px){
    main>aside>div#video, main>aside>div#imagen{
        display:initial
    }
}