@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 0;
}

html{
    background-image: url(./lightbg2.jpg);

}

h1,h3,h5{
    text-decoration: underline;
}

h1{
    color: brown;
    font-size: 4rem;
}

footer{
    background-color: #171212;
    color: #F1F1F1;
}

nav,footer{
    text-align: center;
    padding-top: 50px;
}

#image{
    width: 350px;
    height: 350px;
}

ul, ol{
    text-align: left;
}

.icons{
    width: 32px;
    height: 32px;
}

.whatsappico{
    position: fixed;
    width: 64px;
    height: 64px;
    bottom: 40px;
    right: 15px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px #999;
    z-index: 100;
}

body>header{
    background-color: rgba(23, 18, 18, 1)
}

header, footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

header>img{
    height: 256px;
    width: 256px;
}

header>div>a>img.logo, footer>div>a>img{
    height: 64px;
    width: 64px;
    filter: invert(1);
}

a{
    transition: color 5ms;
}

a:hover{
color: red;
}